* {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 24px;
}
div {
  overflow: auto;
}
#titlediv {
  overflow: hidden;
  height: 50px;
  background-color: #12173f;
}
#title a {
  color: #fff;
  text-align: center;
  margin: 20px;
  font-size: 37px;
  text-decoration: none;
  font-family: 'Times New Roman', Times, serif;
}
#inputdiv h2 {
  font-size: 30px;
  margin-top: 30px;
  margin-bottom: 30px;
  text-align: center;
  font-family: 'Times New Roman', Times, serif;
}
label {
  display: table;
  float: left;
  margin-right: 20px;
  margin-top: 10px;
}
#container {
  display: table;
  background-color: #d3d3d3;
  padding: 20px 50px;
  margin: 0 auto;
  border: 3px solid #808080;
  border-radius: 20px;
  box-shadow: 8px 8px 16px 0px rgba(0,0,0,0.2);
}
#dropdownlabel {
  font-size: 27px;
}
.dropdown {
  background: #fff;
  display: inline-block;
  position: relative;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
}
#reset {
  display: table;
  margin-top: 50px;
  padding: 10px 15px;
  border: 1px solid #aaa;
  border-radius: 15px;
  float: left;
  text-decoration: none;
  color: #000;
  background: #fff;
  font-family: 'Times New Roman', Times, serif;
}
#reset:hover {
  background: #818589;
}
#pred {
  display: table;
  margin-top: 50px;
  margin-left: 150px;
  padding: 10px 15px;
  border: 1px solid #aaa;
  border-radius: 15px;
  float: right;
  font-family: 'Times New Roman', Times, serif;
}
#pred:hover {
  background: #818589;
}
#results {
  margin-top: 50px;
}
#results h1 {
  font-size: 50px;
  text-align: center;
}
form {
  display: table;
}
.entry {
  display: table;
}
